<openerp>
	<data>

		<record id="action_stock_card_list" model="ir.actions.act_window">
			<field name="name">Stock Card List</field>
			<field name="res_model">vit.stock_card</field>
			<field name="view_mode">tree,form</field>
		</record>

		<menuitem id="vit_stock_card"
		 action="action_stock_card_list"
		 name="Stock Card"
         groups="stock.group_stock_manager"
		 sequence="40"
		 parent="stock.menu_traceability"/>

	</data>
</openerp>