<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <record id="view_vit_sms_config_tree" model="ir.ui.view">
            <field name="name">vit_sms.config.tree</field>
            <field name="model">vit_sms.config</field>
            <field name="type">tree</field>
            <field name="priority" eval="8"/>
            <field name="arch" type="xml">
                <tree string="Configuration">
                    <field name="code" />
                    <field name="name" />
                    <field name="hostname" />
                    <field name="username" />
                    <field name="password" />
                    <field name="priority" />
                </tree>
            </field>
        </record>

        <record id="view_vit_sms_config_form" model="ir.ui.view">
            <field name="name">vit_sms.config.form</field>
            <field name="model">vit_sms.config</field>
            <field name="type">form</field>
            <field name="priority" eval="8"/>
            <field name="arch" type="xml">
                <form string="Configuration" version="7.0">
                    <header>

                    </header>

                    <sheet>
                        <group colspan="4">
                            <field name="code" />
                            <field name="name" />
                            <field name="hostname" />
                            <field name="username" />
                            <field name="password" />
                            <field name="priority" />
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="view_vit_sms_config_search" model="ir.ui.view">
            <field name="name">vit_sms.config.search</field>
            <field name="model">vit_sms.config</field>
            <field name="type">search</field>
            <field name="priority" eval="8"/>
            <field name="arch" type="xml">
                <search string="Configuration">
                    <field name="name" select="True"/>
                    <group expand="0" string="Group By">
                        <filter string="" icon="terp-camera_test" name="" context="{'group_by':''}"/>
                    </group>

                </search>
            </field>
        </record>

        <record model="ir.actions.act_window" id="act_open_vit_sms_config_view">
            <field name="name">Configuration</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">vit_sms.config</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="search_view_id" ref="view_vit_sms_config_search"/>
            <field name="domain">[]</field>
            <field name="context">{}</field>
        </record>

        <record model="ir.actions.act_window.view" id="act_open_vit_sms_config_view_form">
            <field name="act_window_id" ref="act_open_vit_sms_config_view"/>
            <field name="sequence" eval="20"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="view_vit_sms_config_form"/>
        </record>

        <record model="ir.actions.act_window.view" id="act_open_vit_sms_config_view_tree">
            <field name="act_window_id" ref="act_open_vit_sms_config_view"/>
            <field name="sequence" eval="10"/>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="view_vit_sms_config_tree"/>
        </record>

        <menuitem id="menu_vit_sms_config"
                  parent="vit_sms_configuration"
                  sequence="20"
                  action="act_open_vit_sms_config_view"/>

    </data>
</openerp>