/* CSS Document */

marquee {
	margin-top: 5px;
	width: 100%;
}

.runtext-container {
    background-color:#ddddff;
    *background-color:#ccf;
    background-image:-moz-linear-gradient(top,#ccf,#fff);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#ccf),to(#fff));
    background-image:-webkit-linear-gradient(top,#ccf,#fff);
    background-image:-o-linear-gradient(top,#ccf,#fff);
    background-image:linear-gradient(to bottom,#ccf,#fff);
    background-repeat:repeat-x;
    border: 1px solid #aaa;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.4;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0 60px 0 30px;
    padding:0 3px 0 3px;
}

.main-runtext {
    margin: 0 auto;
    overflow: visible;
    position: relative;
    height: 40px;
}

.runtext-container .holder {
    position: relative;
    overflow: visible;
    display:inline;
    float:left;
}

.runtext-container .holder .text-container {
	display:inline;
}

.runtext-container .holder a{
	text-decoration: none;
	font-weight: bold;
	color:#ff0000;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	line-height: -0.5em;
	font-size:16px;
}

.runtext-container .holder a:hover{
	text-decoration: none;
	color:#6600ff;
}